@charset "UTF-8";
@import url(variaveis.css);

/*Desktop*/
@media screen and (min-width: 700px) 
{*/

    * { /*Todos os elementos terão essas configurações se não estiver em  uma configuração própria*/
        margin: 0px;
        padding: 0px;
    }

    body, html {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1em;
        margin: 0px;
    }
    section#inicio{
        width: 100%;
        height: 700px;
        background-image: url('../img/halter.png') ; 
        background-position: bottom center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    header{
        min-height: 200px;
        width: 100%;
    }
        
    div#superior {
        display: block;
        margin: auto;
        text-align: center;
        padding: 10px;
        color: white;
        background-color: var(--azul01);
    }

    menu{
        margin: auto;
        max-width: 1000px;
        display: inline-block;
        text-align: center;       
    }

    menu >ul> li{
        display: inline-block;
    }

    menu > ul >  li > a{
        display:inline-block ;
        font-size: 1em;
        padding: 12px;
        text-decoration: none;
        text-align: center;
        background-color: transparent;
        color: white;
        border-top: none;
    }

    menu > ul > li> a:hover{
        background-color: transparent;
        color: blue;
    }

   .BotaoContato{
        background-color: var(--vermelho);
        width: 150px;
        height: 40px;
        border-radius: 5px;
        padding-top: 15px;
        padding-bottom: 12px;
  
    }

    .BotaoContato:hover{
        background-color: var(--vermelho1);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.644);
    }

    .BotaoContato > a:hover{
        text-decoration: none;
        color: black;
    }

    div#textoInicial{
        margin: auto;
        max-width: 1100px;
    }

    img#logo {/*logo*/
        
        float: left;
        width: 200px;
        height: 200px;
     }
    
     div#textoSection{
        font-family:'Signika Negative', Arial, Helvetica, sans-serif;
        font-size: 56px;
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.555);
        float: left;
        color: var(--branco);
        width: 850px;
        padding-left: 20px;
     }
     .BotaoAgende{
        background-color: var(--vermelho);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.644);
        width: 450px;
        height: 60px;
        border-radius: 5px;
        padding-top: 15px;
        padding-bottom: 12px;
    
     }
     .BotaoAgende > a{
        font-size: 1.55em;
        padding: 12px;
        text-decoration: none;
        text-align: center;
        background-color: transparent;
        color: white;
        border-top: none;
     }

     .BotaoAgende:hover{
        background-color: var(--vermelho1);

    }
    .BotaoAgende > a:hover{
        text-decoration: none;
        color: black;
    }
    span#burguer{
        display: none;
    }

    main{
        margin: auto;
        width: 1300px;
        text-align: center;
    }

    section#TreinosPersonalizados{

    }
    section#TreinosPersonalizados > h1{
        margin: 0px;
        padding: 40px 10px 10px 10px;
        font-size: 42px;
        font-family:'Signika Negative', Arial, Helvetica, sans-serif ;
        
    }
     
}
 
/*tablet*/
/*
@media screen and (min-width: 768px) and (max-width: 992px) {
    

} 
*/
