@charset "UTF-8";
@import url(variaveis.css);


/*tablet*/


@media screen and (min-width: 768px) and (max-width: 992px) {
    

}

/*Desktop*/
@media screen and (min-width: 992px) 
{
    header{
        min-height: 706px;
        background-image: url('../img/halter.png') ;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

        
    div#superior {
        display: block;
        margin: auto;
        width: 100%;
        text-align: center;
        padding: 10px;
        color: white;
        background-color: var(--azul01);
    }

    div#imagem{
        display: none;
        margin-left: 0px;
        padding: 10px;;
       
        color: white;
        
     }
     div#menu{
        background-color: var(--azul01);
        height: 50px;
        padding: 10px;
     }
    span#burguer{
        display: none;
        
    }
    menu{
        display: block;
        margin: auto;
        text-align: center;
        
    }

    menu >ul> li{
        display: inline-block;

    }

    
menu > ul > li > a {
    display:block ;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: transparent;
    color: white;
   /* border-top: 2px solid var(--azul02);*/
    
}

menu > ul > li> a:hover{
   color: blueewwwwwwwwwww];
}



    main{
       width: 768px;
    }

 
     
}