@charset "UTF-8";
@import url(variaveis.css);


/*tablet*/

/*
@media screen and (min-width: 768px) and (max-width: 992px) {
    

}*/

/*Desktop*/
/*@media screen and (min-width: 992px) 
{*/

    * { /*Todos os elementos terão essas configurações se não estiver em  uma configuração própria*/
        margin: 0px;
        padding: 0px;
    }

    body, html {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1em;
      
    }
    
    header{
        min-height: 706px;
        background-image: url('../img/halter.png') ;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

        
    div#superior {
        display: block;
        margin: auto;
        text-align: center;
        padding: 10px;
        color: white;
        background-color: var(--azul01);
    }

    section#inicio{
        width: 50%;
        position: absolute;
        top: 60%;
        left: 30%;
        display: inline-block;
        transition-timing-function: ease; /*sempre no final*/
        transform: translate(-25%, -90%); /*sempre no final*/

    }

    div#imagem {
        display: inline-block;
        width: 150px;
     }
    img{
        display: inline-block;
        width: 150px;
        
     }

     div#imagem > p {
        display: none;
     }

     div#menu{
        position: absolute;
        padding-top: 50px;
        display: inline-block;
        width:700px;
        text-align: center;
     
     }


    span#burguer{
        display: none;
    }

    menu{
        width: 700px;
        display: block;
        text-align: center;       
    }

    menu >ul> li{
        display: inline-block;

    }

    
    menu > ul >  li > a{
        display:inline-block ;
        font-size: 1em;
        padding: 10px;
        text-decoration: none;
        text-align: center;
        background-color: transparent;
        color: white;
        border-top: none;
    }

    menu > ul > li#img{
        display: block;
    }

    menu > ul > li> a:hover{
        background-color: transparent;
        color: blue;
    }

   .BotaoContato{
        background-color: var(--azul03);
        width: 150px;
        border-radius: 5px;
        padding: 10px;
    }

    .BotaoContato:hover{
        background-color: var(--azul02);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.644);
    }

   .Botao{

        width: 300px;
        height: 40px;
        background-color: var(--azul03);


        text-align: center;
        border-radius: 5px;
        padding: 20px 10px 10px 10px; 
    
   }

   .Botao:hover{
        background-color: var(--azul02);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.644);
   }
   ul > a{
        font-size: 1.5em;
        text-decoration: none;
        color: white;

   }

    section > p{
        font-family: Candal;
        font-size: 3em;
        color: white;
        text-shadow: 0px 0px 10px black;
    }

    main{
       
    }

 
 /*    
}
*/