@charset "UTF-8";

@import url(variaveis.css);

/*DECLAÇÃO DE VARIÁVEIS*/


* {
    /*Todos os elementos terão essas configurações se não estiver em  uma configuração própria*/
    margin: 0px;
    padding: 0px;
}

body,
html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

section#inicio {

    width: 100%;
    height: 650px;
    background-image: url('../img/halter.png');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    min-height: 200px;
    width: 100%;
}

.navbar-brand {
    color: white !important;
}

.nav-link {
    color: white !important;
}

div#textoInicial {
    margin: auto;
    max-width: 1100px;
    text-align: center;
}
img#logo {
    float: left;
    width: 200px;
    height: 200px;
}
div#textoSection {
    font-family: 'Signika Negative', Arial, Helvetica, sans-serif;
    font-size: 56px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.555);
    float: left;
    color: var(--branco);
    width: 850px;
    padding-left: 20px;
    text-align: justify;
}


.SectionFundoBranco {
    margin: auto;
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
}

.SectionFundoAzul {
    width: 100%;
    height: auto;
    padding: 40px 30px 40px 30px;
    background-color: var(--azul04);
}

.SectionFundoAzul > h2,h4 {
    margin: auto;
    text-align: center;
}

.SectionFundoAzul > div {
    margin: auto;
    width: 850px;
    font-size: 22px;
    text-align: justify;
    padding: 10px 30px 10px 30px;
    line-height: 1.6;
}


table {
    margin: auto;
    text-align: center;
    max-width: 400px;
    height: 400px;
    border-collapse: collapse;
}

td {
    padding: 5px;
    text-align: center;
    /*Alinhamento horizontal*/
    vertical-align: middle;
    /*Alinhamento vertical*/
}

td > a {

    color: black;
    text-decoration: none;
}

aside {
    margin: auto;
    width: 950px;
    text-align: center;
    background-color: var(--branco);
    padding: 10px 10px 30px 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);
    font-size: 18px;
}

.card {
    margin: 0px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
   
    word-wrap: break-word;
    background-color: #271a5c ;
    background-clip: border-box;
    border:none !important;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.352);
    border-radius: 0.50rem !important;
    padding: 0px 0px  10px 0px !important;
    
}

.card-header{
    background-color: #271a5c !important;
    color: white;
    border-radius: 10px 10px 0px 0px !important;  
}

.card-header > h2 {
    font-size: 28px !important;
    text-align: center;
    font-family: 'Signika Negative', Arial, Helvetica, sans-serif;
}

.card-text > ul {
    margin: auto;
    font-size: 18px;
    list-style-position: inside;
    line-height: 2;
    columns: 1;
    text-align: left;
    text-indent: 2px !important;
    list-style-type: '\2714\00A0\00A0';
}

.card-footer {
    text-align: center !important;
    background-color: white !important;
    border: none !important;
   
}
.card-img, .card-img-top, .card-img-bottom {
    width: 50% !important;
}

#carouselExample {
    margin: auto;
}

.carousel-multiple {
    overflow: hidden;

    .carousel-indicators {
        margin-right: 10%;
        margin-left: 10%;
    }

    .carousel-control-prev,
    .carousel-control-next {
        width: 1%;
        z-index: 1;
    }

    .carousel-inner {
        display: flex;
    }

    .carousel-item-next:not(.carousel-item-start),
    .carousel-item-end.active {
        -webkit-transform: translate3d(33%, 0, 0);
        transform: translate3d(33%, 0, 0);
    }

    .carousel-item-prev:not(.carousel-item-end),
    .carousel-item-start.active {
        -webkit-transform: translate3d(-33%, 0, 0);
        transform: translate3d(-33%, 0, 0);
    }

    .carousel-item {
        flex-wrap: wrap;

        .tripartite {
            width: 100%;
            max-width: 100%;
            flex: 1 0 0%;
            padding-right: 1rem;
            padding-left: 1rem;
        }
    }

    .carousel-item-next,
    .carousel-item-prev,
    .carousel-item.active {
        display: flex;
    }

    .carousel-control-next-icon {
        background-image: url('../img/next.svg');

    }

    .carousel-control-prev-icon {
        background-image: url('../img/back.svg');

    }
}

iframe {
    height: 600px;
    width: 100%;
    margin: auto;
    /* padding-left: 60px;
     */
    text-align: center;
}

footer {
    width: 100%;
    height: 40px;
    padding-top: 10px;
    background-color: var(--azul06);

}


footer>div {
    width: 100%;
    margin: auto;
  
 
    text-align: center;
    color: white;
}

img{
    padding-top: 10px;
}
.row{
    padding-top: 10px;
}